.code-example {
  &-wrapper {
    border: 1px solid rgba(0,0,0,.03);
    box-shadow: 0 2px 2px rgba(0,0,0,.24), 0 0 2px rgba(0,0,0,.12);
    margin: 20px 4px;
    font-weight: 400;
  }

  &-header {
    color: rgba(0,0,0,.54);
    background: rgba(0,0,0,.03);
    align-content: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 8px 20px;

    &-title {
      flex: 1 1 auto; 
    }
  }

  &-source {
    padding: 4px;
  }

  &-body {
    padding: 30px;
    overflow-x: auto;
  }
}
