<app-documentation-example-card
  cardTitle="Basic AutoWidth"
  source="&lt;input type=&quot;text&quot; powAutoWidth placeholder=&quot;Your content&quot; /&gt;">
  <input type="text" powAutoWidth placeholder="Your content" />
</app-documentation-example-card>

<app-documentation-example-card
  cardTitle="Extra AutoWidth"
  source="&lt;input type=&quot;text&quot; powAutoWidth [powExtraWidth]=&quot;20&quot; placeholder=&quot;Your content&quot; /&gt;">
  <input type="text" powAutoWidth [powExtraWidth]="20" placeholder="Your content" />
</app-documentation-example-card>

<app-documentation-example-card
  cardTitle="Min & max AutoWidth"
  source="&lt;input type=&quot;text&quot; powAutoWidth [powMaxWidth]=&quot;100&quot; [powMinWidth]=&quot;30&quot; /&gt;">
  <input type="text" powAutoWidth [powMaxWidth]="100" [powMinWidth]="30" />
</app-documentation-example-card>

<app-documentation-example-card
  cardTitle="Material AutoWidth"
  source="&lt;input matInput type=&quot;text&quot; powAutoWidth placeholder=&quot;Your content&quot; /&gt;">
  <input matInput type="text" powAutoWidth placeholder="Your content" />
</app-documentation-example-card>
