<mat-toolbar color="primary" class="layout-toolbar">
  <button
    mat-icon-button
    (click)="sidenav.toggle()"
    title="Menu"
    class="layout-toolbar-button"
    i18n-title="@@title.menu">
    <mat-icon>menu</mat-icon>
  </button>
  <a
    routerLink="/"
    title="Home"
    class="layout-toolbar-link home"
    i18n-title="@@title.home">
    Powerfield
  </a>
</mat-toolbar>

<mat-sidenav-container class="layout-sidenav-container">
  <mat-sidenav #sidenav
    [mode]="mediaQuery.matches ? 'over' : 'side'"
    [opened]="!mediaQuery.matches"
    class="layout-sidenav collapsed">
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="quickstart"
        routerLinkActive="layout-sidenav-link-active"
        [routerLinkActiveOptions]="{exact: true}"
        class="layout-sidenav-link level-1"
        i18n="@@menu.quickstart">
        Getting started
      </a>

      <div mat-list-item>
        <mat-expansion-panel class="layout-sidenav-expansion">
          <mat-expansion-panel-header
            collapsedHeight="48px"
            expandedHeight="48px"
            class="layout-sidenav-expansion-header">
            <mat-panel-title i18n="@@menu.input">
              Input
            </mat-panel-title>
          </mat-expansion-panel-header>

          <a
            mat-list-item
            routerLink="input/autowidth"
            routerLinkActive="layout-sidenav-link-active"
            [routerLinkActiveOptions]="{exact: true}"
            class="layout-sidenav-link level-2"
            i18n="@@menu.input.autowidth">
            Autowidth
          </a>
        </mat-expansion-panel>
      </div>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <main class="layout-sidenav-content">
      <div class="content">
        <router-outlet></router-outlet>
      </div>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

<footer class="layout-footer">
  Footer
</footer>
