<h1>What is Powerfield?</h1>
<p>
  Powerfield is a npm package regrouping useful form fields directive for Angular projects.
  The Powerfield aim is to deliver modularity and performance in your Angular projects.
</p>

<h2>Assumptions</h2>
<p>
  This documentation assumes that you are already familiar with
  <a href="https://angular.io/guide/quickstart" title="Getting started with Angular">Angular</a>.
</p>

<h2>Feedback</h2>
<p>All feedback is welcome!</p>
<p>
  You can file documentation
  <a href="https://github.com/youritornier/powerfield" title="Powerfield Github issues">issues</a>
  on the Powerfield Github repository.
</p>
