<div class="code-example-wrapper">
  <div class="code-example-header">
    <div class="code-example-header-title">{{ example.title }}</div>
    <button mat-icon-button (click)="toggleShowSource()">
      <mat-icon>code</mat-icon>
    </button>
  </div>

  <div *ngIf="showSource" class="code-example-source">
    <pre source class="code-snippet language-html">
      <code>{{ example.code }}</code>
    </pre>
  </div>

  <div class="code-example-body">
    <!-- <input type="text" powAutowidth placeholder="Your content" /> -->
  </div>
</div>
