<app-documentation-example-card
  cardTitle="Basic Autowidth"
  source="&lt;input type=&quot;text&quot; powAutowidth placeholder=&quot;Your content&quot; /&gt;">
  <input type="text" powAutowidth placeholder="Your content" />
</app-documentation-example-card>

<app-documentation-example-card
  cardTitle="Extra Autowidth"
  source="&lt;input type=&quot;text&quot; powAutowidth [powExtraWidth]=&quot;20&quot; placeholder=&quot;Your content&quot; /&gt;">
  <input type="text" powAutowidth [powExtraWidth]="20" placeholder="Your content" />
</app-documentation-example-card>

<app-documentation-example-card
  cardTitle="Min & max Autowidth"
  source="&lt;input type=&quot;text&quot; powAutowidth [powMaxWidth]=&quot;100&quot; [powMinWidth]=&quot;30&quot; /&gt;">
  <input type="text" powAutowidth [powMaxWidth]="100" [powMinWidth]="30" />
</app-documentation-example-card>
