<app-documentation-example-card
  cardTitle="Basic AutoSelect"
  source="&lt;input type=&quot;text&quot; powAutoSelect value=&quot;Your content&quot; /&gt;">
  <input type="text" powAutoSelect value="Your content" />
</app-documentation-example-card>

<app-documentation-example-card
  cardTitle="Material AutoSelect"
  source="&lt;input type=&quot;text&quot; powAutoSelect value=&quot;Your content&quot; /&gt;">
  <input matInput type="text" powAutoSelect value="Your content" />
</app-documentation-example-card>
